h1 {
 font-family: 'Montserrat', sans-serif;
}

h3 {
 font-family: 'Raleway', sans-serif;
}

p {
 font-family: 'Open Sans', sans-serif;
}

.fluid-container {
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}

.header {
 background-color: rgba(255, 255, 255, 0);
 padding: 30px 45px;
 z-index: 2;
}

.logo {
 font-family: 'Raleway', sans-serif;
 font-size: 36px;
 color: white;
 text-transform: uppercase;
 letter-spacing: 15px;
 word-spacing: 4px;
 font-weight: bolder;
}

.row{
 display: flex;
 justify-content: space-between;
}

.navigation {
 display: flex;
 align-items: center;
}


.nav-links {
 list-style-type: none;
 display: flex;
 justify-content: flex-end;
}

.nav-links a {
 padding: 0 20px;
 font-family: 'Montserrat', sans-serif;
 color: white;
 text-decoration: none;
 text-transform: uppercase;
}

.nav-links a:hover {
 color: rgba(255, 255, 255, 0.7);
}



