nav {
 position: fixed;
 display: flex;
 justify-content: space-between;
 background-color: rgba(128, 128, 128, 0); 
 width: 100%;
 padding: 10px;
 transition-duration: .6s;
 z-index: 1;
}

.desktop-logo {
 font-family: 'Raleway', sans-serif;
 font-size: 36px;
 color: white;
 text-transform: uppercase;
 letter-spacing: 15px;
 word-spacing: 4px;
 font-weight: bolder;
 padding: 0 30px;
}

.mobile-container {
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.mobile-logo {
 display: none;
 font-family: 'Raleway', sans-serif;
 font-size: 16px;
 color: white;
 text-transform: uppercase;
 letter-spacing: 8px;
 word-spacing: 1px;
 font-weight: bolder;
 text-align: left;
}

.mobile-toggle {
 display: none;
 color: white;
 font-size: 24px;
 cursor: pointer;
}


.navigation-container {
 display: flex;
 align-items: center;
}

#navigation-tabs {
 display: flex;
 list-style-type: none;
 padding-top: 15px;
}

#navigation-tabs a{
 font-family: 'Montserrat', sans-serif;
 padding: 0 20px;
 color: white;
 text-decoration: none;
 text-transform: uppercase;
}

#navigation-tabs a:hover {
 color: rgba(255, 255, 255, 0.575);
}

