nav {
 position: fixed;
 display: flex;
 justify-content: space-between;
 background-color: rgba(128, 128, 128, 0); 
 width: 100%;
 transition-duration: .6s;
 z-index: 1;
}

.desktop-logo {
 font-family: 'Raleway', sans-serif;
 font-size: 36px;
 color: white;
 text-transform: uppercase;
 letter-spacing: 15px;
 word-spacing: 4px;
 font-weight: bolder;
 padding: 0 30px;
}

.mobile-container {
 display: flex;
 justify-content: space-between;
 width: 100%;
 padding: 15px;
}

.mobile-logo {
 display: none;
 font-family: 'Raleway', sans-serif;
 font-size: 16px;
 color: white;
 text-transform: uppercase;
 letter-spacing: 8px;
 word-spacing: 1px;
 font-weight: bolder;
 text-align: left;
}

.mobile-toggle {
 display: none;
 color: white;
 font-size: 24px;
 cursor: pointer;
}


.navigation-container {
 display: flex;
 align-items: center;
}

#navigation-tabs-mobile {
 display: flex;
 flex-direction: column;
 list-style-type: none;
 width: 100%;
 background-color: #3b97a3;
 text-align: center;
 padding: 30px;
 transition-duration: .8s;
}

#navigation-tabs-mobile li {
 display: flex;
 flex-direction: column;
 list-style-type: none;
 width: 100%;
 text-align: center;
 font-size: 1.4em;
 padding: 30px 0;
 font-family: 'Montserrat', sans-serif;
}

#navigation-tabs-mobile a {
 color: #ffffff !important;
}

#navigation-tabs-desktop {
 display: flex;
 list-style-type: none;
 padding-top: 15px;
}

#navigation-tabs-desktop a{
 font-family: 'Montserrat', sans-serif;
 padding: 0 20px;
 color: white;
 text-decoration: none;
 text-transform: uppercase;
}

#navigation-tabs a:hover {
 color: rgba(255, 255, 255, 0.575);
}


#mobile-navigation-tabs {
 display: block;
 list-style-type: none;
 text-align: center;background-color: brown;
 width: 100%;
}

#mobile-navigation-tabs a{
 color: white;

}

#mobile-navigation-tabs li{
 font-family: 'Montserrat', sans-serif;
 padding: 20px 10px;
 color: white;
 font-size: 20px;
 text-decoration: none;
 text-transform: uppercase;

}
