h1 {
 font-family: 'Montserrat', sans-serif;
}

h3 {
 font-family: 'Raleway', sans-serif;
}

p {
 font-family: 'Open Sans', sans-serif;
}

.fluid-container {
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}


nav {
 position: fixed;
 z-index: 2;
 right: 0;
 top: 0;
 left: 0;
}

.desktop-header {
 background-color: rgba(255, 255, 255, 0);
 padding: 30px 45px;
}

.logo {
 font-family: 'Raleway', sans-serif;
 font-size: 36px;
 color: white;
 text-transform: uppercase;
 letter-spacing: 15px;
 word-spacing: 4px;
 font-weight: bolder;
}

.row{
 display: flex;
 justify-content: space-between;
}

.navigation {
 display: flex;
 align-items: center;
}


.nav-links {
 list-style-type: none;
 display: flex;
 justify-content: flex-end;
}

.nav-links a {
 padding: 0 20px;
 font-family: 'Montserrat', sans-serif;
 color: white;
 text-decoration: none;
 text-transform: uppercase;
}

.nav-links a:hover {
 color: rgba(255, 255, 255, 0.7);
}

.toggle {
 display: none;
 justify-content: space-between;
 width: 100%;
 background-color: #1f6e78;
 padding: 10px 20px;
 text-align: right;

}

.mobile-nav-links {
 background-color: #0E3B43; 
 padding: 0 !important;
}

.mobile-logo {
 font-family: 'Raleway', sans-serif;
 font-size: 16px;
 color: white;
 text-transform: uppercase;
 letter-spacing: 8px;
 word-spacing: 1px;
 font-weight: bolder;
 text-align: left;
 margin-top: 8px;
}


.mobile-nav {
 color: white;
 cursor: pointer;
 font-size: 24px;
}



@media (max-width: 1110px) {
 .toggle {
  display: flex;
 }

 .logo {
  display: none;
 }

 .welcome-message-box {
  padding-right: 0 !important;
  padding-top: 52% !important;
 }

 .welcome-message-line {
  padding: .4em 0 !important;
 }

 .nav-links {
  display: none;
  text-align: center;
  width: 100%
 }
 
 /* #mobile-nav-links {
  display: flex;
 } */

 .nav-links li {
  padding: 8px;
 }

 .nav-links li:hover {
  background-color: rgba(14, 59, 67, 0.692);
 }
 
 .desktop-header {
  background-color: #0E3B43; 
  padding: 0 !important;
 }

 .navigation {
  width: 100%;
 }

}


