.about-section {
 text-align: center;
 padding: 30px;
}

.about-abilities {
 padding-top: 40px;
}

.about-text-title {
 text-align: left;
 padding: 30px 0 15px 0;
}

.about-text {
 text-align: justify;
}

.about-sm-resume-container {
 display: flex;
 margin-top: 45px;
 flex-wrap: wrap;
}

.about-button {
 padding: 16px 20px;
 background-color: #2C7D86;
 margin: 15px 15px 0 0;
 color: white;
 font-size: 14px;
 border: none;
 box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.25);
 position: relative;
}

.about-button:hover {
 background-color: rgba(44, 125, 134, 0.90);
 transition-duration: .3s;
 cursor: pointer;
}




.fa-envelope-open:before , .fa-linkedin-in:before {
 margin-right: 8px;
}

#about-resume-button {
 padding: 5px;
 border-radius: 20%;
 background-color: brown;
 margin: 0 15px;
 color: white;
}