.about-section {
 text-align: center;
 padding: 30px;
}

.about-abilities {
 padding-top: 40px;
}

.about-text-title {
 text-align: left;
 padding: 30px 0 15px 0;
}

.about-text {
 text-align: justify;
 color: #333
}

.about-sm-resume-container {
 display: flex;
 margin-top: 30px;
 flex-wrap: wrap;
}

.about-button {
 padding: 16px 20px;
 background-color: rgb(44, 125, 134);
 margin: 15px 30px 0 0;
 color: white;
 font-size: 14px;
 border: none;
 box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25);
 position: relative;
 transition-duration: .3s;
}

.about-button:hover {
 background-color: rgba(44, 125, 134, 0.90); 
 cursor: pointer;
 transform: translate(0px, -5px) scale(1.1)
}




.fa-envelope-open:before , .fa-linkedin-in:before {
 margin-right: 8px;
}

