.footer {
 background-color: #439ba7;
 padding: 50px 0; 
 color: white;
}

.footer-container {
 width: 75%;
 padding-top: 15px;
 margin: 0 auto;
 max-width: 750px;
}


.footer-input {
 margin-top: 20px;
 position: relative;
}

input , textarea {
 padding: 12px 15px;
 border: 1px solid white;
 background-color: #439ba7;
 border-radius: 4px;
 position: relative;
 width: 100%;
 margin-top: 10px;
 box-sizing: border-box;
 color: white;
}

label {
 position: absolute;
 top: 25px;
 left: 15px;
 color: white;
 font-size: 15px;
}



input:focus ~ label , input:valid ~ label   , textarea:focus ~ label , textarea:valid ~ label {
 background-color: #439ba7;
 padding: 0 5px;
 font-size: 13px;
 margin-top: -25px;
 margin-left: -5px;
 transition-duration: .25s;
 transition-timing-function: ease-in;
}

form button {
 margin-top: 15px;
 padding:  18px 25px;
 background-color: white !important;
 color: #439ba7 !important;
 border: none;
 text-transform: uppercase;
}

form button:hover {
 background-color: rgba(255, 255, 255, 0.849) !important;
}






/* input:focus ~ label ,  input:valid ~ label , textarea:focus ~ label ,  textarea:valid ~ label {
 z-index: 999;
 top: -7px;
 margin-left: 5px;
 font-size: 10px;
 background-color: #439ba7;
 padding: 10px 5px;
 transition: .19s;
 transition-timing-function: ease-in;
} */




