
.project {
 background-color: rgb(240, 240, 240);
 position: relative;
 width: 100%;
 height: 480px;
 box-shadow: 0 30px 80px 0 rgba(0,0,0,.4);
 margin: 70px auto;
 border-radius: 10px;
}

.project-image {
 /* background: url("https://digitalmarketing.blob.core.windows.net/9553/images/items/image494666.png") no-repeat; */
 background-repeat: no-repeat;
 background-position: top left;
 background-size: cover;

}

.overlay {
 background: linear-gradient(to right, rgba(5, 6, 17, 0.693), rgba(14, 13, 13, 0.768)); 
 height: 100%;
 width: 100%;
 border-radius: 10px;
}

.box {
 position: absolute;
 left: 5%;
 bottom: 10%;
 color: white;
 /* background-color: rgba(0, 0, 0, 0.775); */
 /* padding: 40px; */
}

.project-title-name {
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 font-size: 40px;
}

.project-title-company {
 font-family: 'Raleway', sans-serif;
}

.project button {
 background: linear-gradient(to right, #0083B0, #3b97a3);
 color: white;
 padding: 15px 25px;
 border: none;
 margin-top: 15px;

 cursor: pointer;
}

.project button:hover {
 transition-duration: 1s;
 background: linear-gradient(to left, #0083B0, #3b97a3);
}