.skills-exp-section {
 display: grid;
 grid-template-columns: 1fr 1fr;
 position: relative;
 width: 100%;
}

.skills , .programming{
 text-align: center;
 display: flex;
 flex-direction: column;
 padding: 120px 0 100px 0;
}

.skills {
 background-color: #dddddd;
}

.programming {
 background-color: #EBEBEB;
}

.skills-row , .programming-row{
 width: 100%;
 padding: 20px 60px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skill-icon {
 max-height: 500px ;
 margin-top: 30px;
}

.skill-title {
 padding: 15px 0;
 font-size: 
}

