@media (max-width: 1110px) {
 .toggle {
  display: flex;
 }

 .desktop-logo {
  display: none;
 }

 .mobile-logo {
  display: block;
  
 }

 #navigation-tabs-desktop {
  display: none;
 }

 .mobile-toggle {
  display: block;
 }

 .welcome-message-box {
  width: 70%;
 }

 .about-button {
  width: 100%;
  margin: 15px 0 0 0;
 }

 .navigation-container {
  width: 100%;
 }

 .my-work-section {
  padding: 80px 0;
 }

 .skills-row , .programming-row{
  grid-template-columns: 1fr 1fr;
  padding-top: 5px;
 }
}


@media (max-width: 600px){
 .skills-row , .programming-row{
  grid-template-columns: 1fr;
  padding-top: 5px;
 }

 .skills-exp-section {
  grid-template-columns: 1fr;
 }
 
}

/* 
---------------SKILLS & PROGRAMMING---------------
} */


